@import url(./reset.css);
@import url(./components/button.css);
@import url(./components/news-card.css);




.test {
display: inline-flex;
height: 50px;   
width: 50px;
}


.test1 {
    background-color: red;
}

.test2 {
    background-color: green;
}

.test3 {
    background-color: blue;
}

.test4 {
    background-color: orange;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px 5px;
    background-color: #ac414149;
    backdrop-filter: blur(5px);
    z-index: 50;
}

nav {
    position: absolute;
    right: 0;
    bottom: 0;

}
main {
    padding-top: 100px;
    height: 500vh;

}
img {
    height: 300px;
    width: 600px;
    filter: brightness(50%);
}
.sticky_container {
width: 75%;
height: 200vh;
background-color: #aeaeae;
overflow-y: auto;
}
.sticky_element {
    width: 100%;
    height: 100px; 
    background-color: rgb(173, 67, 156);
}


.btn_notifications {
    position: relative;
}

[data-notifications]::after {
content: attr(data-notifications);
position: absolute;
top: -5;
right: -5;
width: 15px;
font-size: 10px;
aspect-ratio: 1;
background-color: red;
color: white;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
