* {
    margin: 0;
    padding: 0;
}

.img_wrapper {
width: 350px;
height: 250px;
overflow: hidden;
margin: 50px 0;
}
.img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
}
.img_wrapper:hover .img {
transform: scale(110%);
}
.loader {
    border: 15px red solid;
    border-bottom-color: transparent;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: spin 2s ease-out infinite;

}
@keyframes spin {
 to {
    transform: rotate(360deg);
 }   
}

h1 {
    text-align: center
}
.error-paragraph {
    color: red;
}
.primary-paragraph {
    color: blue; 
}
.btn {
    border: 0;
    outline: 0;
    color: white;
    /*background: linear-gradient(90deg, #f09, #08f5fd);*/
    background-color: skyblue;
    padding: 5px; 15px; 
    margin: 5px;
    border-radius: 5px;
    cursor:pointer; 
    margin: 5px;
    transition: border-radius .5s, background-colr 2s;

}
.btn:hover {
    border-radius: 10px;
    background-color: blueviolet ;
}
.btn:active {
background-color: navy;
}
