* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}
.main_header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #d1d0d0;
}

.header_wrapper {
    max-width: 768px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 1.5rem;
}

.header_nac {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header_nav_item {
    position: relative;
    cursor: pointer;
    padding: .25rem 0;
}

.nav_dropdown {
    position: absolute;
    right: 0;
    top: 100%; 
    display: flex;
    flex-direction: column;
    gap: .74rem;
    background-color: #fff;
    padding: .5rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 1px #000;
    scale: 0;
    transition: all .33s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.header_nav_item:hover {
    background-color: #bababa;
}

.nav_dropdown p:hover {
background-color: #55b8f2;
}

.header_nav_item:hover .nav_dropdown {
scale: 1;
opacity: 1;
pointer-events: all;
}