button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}
.btn {
    padding: 7px 15px;
}
.btn.btn_main {
color: white;
background-color: blue;
border-radius: 5px;
transition: all .33s ease-in-out;
}

.btn.btn_main:hover {
background-color: skyblue;
}
.btn.btn_outline {
border: #000 1px solid;
border-radius: 5px;
transition: all .33s ease-in-out; 
}

